@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex flex-column align-items-center justify-content-center min-vh-90 text-center">
    <h1 class="display-3 fw-bold text-primary">Welcome to Our Assignment 1!</h1>
    <p class="lead text-muted">
        Explore and learn about <strong>building the assignment 1</strong> with <span class="text-dark">ASP.NET Core Web MVC</span>.
    </p>
</div>
